<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:valuenetwork.live</string>
		<string>applinks:vnw.app</string>
		<string>applinks:classic.vnw.app</string>
		<string>applinks:callisto.vnw.app</string>
		<string>applinks:kovan.vnw.app</string>
		<string>applinks:ropsten.vnw.app</string>
		<string>applinks:rinkeby.vnw.app</string>
		<string>applinks:poa.vnw.app</string>
		<string>applinks:sokol.vnw.app</string>
		<string>applinks:xdai.vnw.app</string>
		<string>applinks:custom.vnw.app</string>
		<string>applinks:goerli.vnw.app</string>
		<string>applinks:binance.vnw.app</string>
		<string>applinks:test-binance.vnw.app</string>
	</array>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.live.valuenetwork.alphawallet</string>
	</array>
</dict>
</plist>
